{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-lg-12">
<h2 class="text-center">User Profile</h2> 
{% if user.first_name and user.last_name != None %}
<h3>Welcome {{ user.first_name }} {{ user.last_name }}</h3>
<hr />
{% endif %} 
<h4>Username: {{ user.username }}</h4>
<h4>Email Address: {{ user.email }}</h4>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<h2 class="text-center">Charges</h2>
<table class="table table-striped">
<tr class="row">
<th>Description</th>
<th>Receipt Email</th>
<th>Amount</th>
<th>Card Info</th>
<th>Charge Status</th>
</tr>
{% for d in data_list %}
<tr class="row">
<td class="description">{{ d.description }} </td>
<td class="receipt_email"> {{ d.receipt_email}} </td>
<td class="amount">${{ d.amount }} </td>
<td class="source"> {{ d.source.brand }} ending in {{d.source.last4 }}</td>
<td class="status"> {{ d.outcome.seller_message}} </td>
</tr>
{% endfor %}
</table>

</div>
</div>
{% endblock %}